

h1 {
 margin-bottom: 50px;
 width: 500px;
 margin: auto;
 color: #626262;
} 
h2 {
  width: 500px;
  margin: auto;
  margin-top: 50pxpx;
  color: #626262;
}


#logo {
   width: 60px;
   height: 60px;
   margin-top: 10px;
}


 
 ul {
   display: flex;
   width: 400px;
   justify-content: space-between;
 }

li{
  list-style: none;
}

header {
  background:#707070;
}




section {
display: flex;
justify-content: space-between;
}

img {
  width: 1100px;
  justify-content: space-between;
}

p {
  margin-bottom: 40px;
}
a {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid black;
  color: black;
  text-decoration: none;

}



a:hover{
  color: black;
  background: yellow;
}


